@charset "utf-8";
.ui-shadow-inset {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.ui-input-search, div.ui-input-text {background-color:#00a852 !important; border:none !important}
input.readonly {font-weight:bold; text-align:center; color: #FFF; background:none !important;}

.vysledek {
	text-align:center;
	color:#FFF;
	font-weight:bold;
	
	}


/* CSS Document */

